body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
}

#color-orange {
  color: orange;
}

.btn {
  padding: 10px 40px;
  text-transform: uppercase;
  background-image: linear-gradient(to left, orange, tomato);
  border: none;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

.btn2 {
  padding: 15px 40px;
  text-transform: uppercase;
  background-image: linear-gradient(to left, orange, tomato);
  border: none;
  border-radius: 5px;
  color: white;
}

.half_width {
  width: 50%;
  margin-left: 50px;
}

.half_width img {
  width: 100%;
}

#bannar-aria {
  display: flex;
  margin-bottom: 150px;
}

.bg-top-banner {
  background-image: url(images/top-banner.png);
}

.pic2 {
  margin: -60px;
}

#containt_2 {
  margin-right: 15px;
}

.bg_2_side_banner {
  background-image: url(images/dream-bg.png);

  background-repeat: no-repeat;
  background-position: right;
}
